@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.ViewModels.UserViewModel

<div class="login">
    <h2>@GlobalRes.Registration</h2>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        <div>
            <div class="form-group">
                <label>@GlobalRes.Name</label>
                @Html.TextBox(@GlobalRes.Name, Model.Name, new { @class = "form-control", @id = "exampleInputEmail1", placeholder = @GlobalRes.Name })
                @Html.ValidationMessage("Name")
            </div>
            <div class="form-group">
                <label>@GlobalRes.Surname</label>
                @Html.TextBox(@GlobalRes.Surname, Model.Name, new { @class = "form-control", @id = "exampleInputEmail1", placeholder = @GlobalRes.Surname })
                @Html.ValidationMessage("Surname")
            </div>
            <div class="form-group">
                <label>Email address</label>
                @Html.TextBox(@GlobalRes.Email, Model.Email, new { @class = "form-control", @id = "exampleInputEmail1", placeholder = @GlobalRes.Email })
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> <br />
                @Html.ValidationMessage("Email")
            </div>
            <div class="form-group">
                <label>@GlobalRes.Password</label>
                @Html.Password(@GlobalRes.Password, Model.Password, new { @class = "form-control", placeholder = @GlobalRes.Password, @id = "InputPassword1" })
                @Html.ValidationMessage("Password")
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.IsPersistent, new {  id = "Check1" })
                <label class="form-check-label">@GlobalRes.IsPersistent</label>
            </div>
            <button type="submit" class="btn btn-success">@GlobalRes.Submit</button>
        </div>
    }
</div>