@using GameStore.Web.App_LocalResources
@model GameStore.Web.Models.ViewModels.PlatformViewModel

<div style="padding: 20px;">
    <h1>@GlobalRes.Edit @GlobalRes.Platform</h1>
    @using (Html.BeginForm("Edit", "Platform", FormMethod.Post))
    {
        for (int i = 0; i < Model.PlatformTranslates.Count; ++i)
        {
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <img src="~/Content/Images/@{ @Html.Raw(Model.PlatformTranslates[i].Language.Key)}.jpg" style="width: 20px; height: 20px; " />
                </span>
                @Html.TextBoxFor(ed => ed.PlatformTranslates[i].Type, "",
                    new { @class = "form-control", placeholder = @GlobalRes.Name, value = Model.PlatformTranslates[i].Type})
                <br>
                @Html.ValidationMessageFor(val => val.PlatformTranslates[i].Type, "", new { style = "color: red;" })

                @Html.HiddenFor(ed => ed.PlatformTranslates[i].LanguageId, new { value = Model.PlatformTranslates[i].LanguageId })
                @Html.HiddenFor(ed => ed.PlatformTranslates[i].PlatformId, new { value = Model.PlatformTranslates[i].PlatformId })
                @Html.HiddenFor(ed => ed.PlatformTranslates[i].Id, new { value = Model.PlatformTranslates[i].Id })
            </div>
            <br />
        }

        <br />
        <button class="btn btn-secondary" id="btnForLogIn" type="submit">@GlobalRes.Edit</button>
    }
</div>