@{
    Layout = "../Shared/_Layout.cshtml";
}

@using GameStore.Web.App_LocalResources
@model GameStore.Bll.DTO.OrderDTO

@{
    decimal sum = 0;
}

@using (Html.BeginForm("PayIBox", "Order", FormMethod.Post))
{
    <div style="padding: 20px;">
        <h1>IBox</h1>
        <text><b>@GlobalRes.AccoutnNumber:</b> @Model.CustomerId</text>
        <br />
        <text><b>@GlobalRes.OrderId:</b> @Model.Id</text>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@GlobalRes.Key</th>
                    <th scope="col">@GlobalRes.Price</th>
                    <th scope="col">@GlobalRes.Quantity</th>
                    <th scope="col">@GlobalRes.Discount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    <tr>
                        <th scope="row">@detail.ProductID</th>
                        <td>@detail.Price</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.Discount </td>
                    </tr>
                    sum += detail.Price * detail.Quantity;
                }
            </tbody>
        </table>
        <br />
        <b>@GlobalRes.Price: @sum</b>
        <br />
        <b1>@GlobalRes.Time:</b1>
        @String.Format("{0:F}", Model.OrderDate)<br/>
        <button class="btn btn-primary" style="float: right" type="submit">@GlobalRes.Pay</button>
    </div>
}





